<div class='row'>
	<ui-gmap-google-map center='{ latitude: 52.543319, longitude:-6.512857 }' zoom='8'>
        <ui-gmap-marker idKey="1" coords="{latitude : -6.944944, longitude : 52.394536}"></ui-gmap-marker>
        <ui-gmap-marker idKey="2" coords="{latitude : -6.341748, longitude : 52.252093}"></ui-gmap-marker>
    </ui-gmap-google-map>
</div>
<div class='row container'>
	<h4 class="center">What you've found so far</h4>
	<p>The map of your already completed areas ! Try to go around and find more !</p>
</div>	