<div class="container">
    <div class="row">
        <h4>Sign Up to try the Wexford Quest !</h4>
        <blockquote>
            A dynamic adventure to discover the Wexford County
        </blockquote>
        <p>
            When you sign up, you'll be invited to parse the Wexford County to find tags, and learn more about this wonderful place.
            Discover it at your pace, it's your Wexford, your Way.
        </p>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <label for="email">Username</label>
            <input type="email" id="email">
        </div>
        <div class="input-field col s12">
            <label for="password">Password</label>
            <input type="password" id="password">
        </div>
        <div class="input-field col s12">
            <label for="password2">Password Confirmation</label>
            <input type="password" id="password2">
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s3">
            <a class="btn waves-light waves-effect" onclick="validation()">Sign Me Up !</a>
        </div>
    </div>
</div>

<div class="modal" id="signupModal">
    <div class="container">
        <h4 class="center">Welcome !</h4>
        <p>
            You can now start your journey to the Wexford County, and discover new places !
        </p>
        <a href="/" class="btn waves-light waves-effect center-align" onclick="closeSignup()">Quest Page</a>
    </div>
</div>

